{% extends 'headerPage.html' %}

{% block content%}

    <h2>Pan-Card OCR</h2>


    <br>

    <form method="post" enctype="multipart/form-data" action="predictImage">

 {% csrf_token %}
 <div class="col-md-4 col-sm-4"><label for="fname">Upload Image File Here:</label> </div> <input name="filePath" type="file"><br><br>
 <br>


 <input type="submit" value="Submit" ></div>
        <h2>Name : {{predictedName}}</h2>
        <h2>Father's Name : {{predictedFatherName}}</h2>
        <h2>Pan Number : {{predictedPanNumber}}</h2>
        <h2>Date of Birth : {{predictedDate}} / {{predictedMonth}} / {{predictedYear}}</h2>
 <img src={{filePathName}} alt='imagename'>
 {{filePathName}}

</form>
<br>


{% endblock %}